@import url("https://rsms.me/inter/inter.css");
html {
    font-family: "Inter", sans-serif;
    background-color: #838edd;
}

@supports (font-variation-settings: normal) {
    html {
        font-family: "Inter var", sans-serif;
    }
}

.textloginerrorxs {
    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 15px;
    line-height: 36px;
    text-align: center;
    letter-spacing: 0.01em;
    margin-left: 5%;
    margin-bottom: 20px;
    color: #e53737;
}
.bg-appweb-1 { background-color: #5C6AC4; }
.bg-appweb-2 { background-color: #848CDC; }
.bg-appweb-3 { background-color: #232B61; }
.bg-appweb-4 { background-color: #6973B8; }
.bg-appweb-5 { background-color: #AFB3D2; }